<div class="form-group row">
	<label class="col-sm-2 form-control-label">Tên website phụ</label>
	<div class="col-sm-10">
		<input type="text" placeholder="Vd: Sinh học An Giang" class="form-control" value="Sinh học An Giang">
	</div>
</div>
<div class="form-group row">
	<label class="col-sm-2 form-control-label">Id</label>
	<div class="col-sm-10">
		<input type="text" placeholder="Vd: sinhhocangiang (Không trùng id cũ)" class="form-control" value="sinhhocangiang">
	</div>
</div>
<div class="form-group row">
	<label class="col-sm-2 form-control-label">Ghi chú</label>
	<div class="col-sm-10">
		<textarea placeholder="Cho ai đó quản lý" class="form-control">Cho ai đó quản lý</textarea>
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-12 text-center">
		<button class="btn btn-success" (click)="updateSubWebsite()">Lưu lại</button> &nbsp;&nbsp;
		<button class="btn btn-info" (click)="onBack()">Quay lại</button>
	</div>
	
</div>