<header class="header-home">
    <div class="container-fluid">
        <nav class="nav-home-module">
            <ul>
                <li>
                    <a routerLink="/home">Sản phẩm</a>
                </li>
                <li>
                    <a routerLink="/admin">Admin</a>
                </li>
                <li>
                    <a routerLink="/super-admin">Super Admin</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="clearfix"></div>