<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <!-- User Info-->
            <div class="sidenav-header-inner text-center">
                <img src="assets/super-admin/img/user.png" alt="person" class="img-fluid rounded-circle">
                <h2 class="h5">Mr.Admin</h2>
                <span>Admin</span>
            </div>
            <!-- Small Brand information, appears on minimized sidebar-->
            <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>A</strong><strong class="text-primary">G</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
            <h5 class="sidenav-heading">Main</h5>
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li><a routerLink="." routerLinkActive="active"> <i class="icon-home"></i>Home</a></li>
                <li><a routerLink="./order" routerLinkActive="active"> <i class="fa fa-shopping-cart"></i>Đơn hàng</a></li>
                <li><a routerLink="./product" routerLinkActive="active"> <i class="	fa fa-cube"></i>Sản phẩm</a></li>
                <li><a routerLink="./new" routerLinkActive="active"> <i class="fa fa-newspaper-o"></i>Tin tức </a></li>
            </ul>
        </div>
        <div class="main-menu">
            <h5 class="sidenav-heading">Sub</h5>
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li><a href="#section-management" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-th-large"></i>Section </a>
                	<ul id="section-management" class="collapse list-unstyled">
                		<li><a routerLink="./section/hotline" routerLinkActive="active">Hotline</a></li>
                		<li><a routerLink="./section/logo" routerLinkActive="active">Logo</a></li>
                		<li><a routerLink="./section/home-slider" routerLinkActive="active">Home Slider</a></li>
                		<li><a routerLink="./section/about-product" routerLinkActive="active">About Product</a></li>
                		<li><a routerLink="./section/element" routerLinkActive="active">Element</a></li>
                		<li><a routerLink="./section/feature" routerLinkActive="active">Feature</a></li>
                		<li><a routerLink="./section/helpful" routerLinkActive="active">Helpful</a></li>
                		<li><a routerLink="./section/guild" routerLinkActive="active">Guild</a></li>
                		<li><a routerLink="./section/question" routerLinkActive="active">Question</a></li>
                		<li><a routerLink="./section/client-one" routerLinkActive="active">Client one</a></li>
                		<li><a routerLink="./section/client-two" routerLinkActive="active">Client two</a></li>
                		<li><a routerLink="./section/media" routerLinkActive="active">Media</a></li>           	
                		<li><a routerLink="./section/about-us" routerLinkActive="active">About Us</a></li>
                	</ul>
                </li>
                <li><a routerLink="./change-password" routerLinkActive="active"> <i class="fa fa-user"></i>Đổi mật khẩu</a></li>
                <li><a href="#setting" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-gear"></i>Setting </a>
                	<ul id="setting" class="collapse list-unstyled ">
                		<li><a routerLink="./setting/general" routerLinkActive="active">Chung</a></li>
                		<li><a routerLink="./setting/delivery" routerLinkActive="active">Vận chuyển</a></li>
                		<li><a routerLink="./setting/payment" routerLinkActive="active">Thanh toán</a></li>
                	</ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="page">
    <!-- navbar-->
    <header class="header">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header">
                        <a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a>
                        <div class="sub-website-name">
                            <app-admin-sub-website-name></app-admin-sub-website-name>
                        </div>
                    </div>
                    
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Log out-->
                        <li class="nav-item logout-li"><a (click)="onLogout()" class="nav-link logout"> <span class="d-none d-sm-inline-block">Logout</span><i class="fa fa-sign-out"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder">
        <div class="container">
            <span class="breadcrumb header-title">
                <app-admin-header-title></app-admin-header-title>
            </span>
        </div>
    </div>
    <section class="forms">
        <div class="container">
            <div class="outlet">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Agrio &copy; 2018-2019</p>
                </div>
            </div>
        </div>
    </footer>
</div>