<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="logo text-uppercase"><span>A</span><strong class="text-primary">grio</strong></div>
                <p>Đăng nhập trang <span class="type-page">admin</span> để quản lý các website</p>
                <div class="form-area">
                    <div class="form-group-material">
                        <input [placeholder]="'Tài khoản đăng nhập'" type="text" name="loginUsername" class="input-material">
                    </div>
                    <div class="form-group-material">
                        <input [placeholder]="'Mật khẩu'" type="password" name="loginPassword" class="input-material">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-success" (click)="handleLogin()">Login</button>
                    </div>
           		</div>
            </div>
        </div>
    </div>
</div>