<div class="row">
    <div class="col-md-6">
        <div class="box-hotline">
            <span class="phone" style="">
                <p style="color:#116935;">Hỗ trợ, gọi:</p>
                <input type="text" name="" placeholder="Nhập hotline" value="036.3902.688" class="form-control">
                <div class="circle-hotline">
                    <span class="icon"><i class="fa fa-phone"></i></span>
                </div>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="i-checks">
            <input id="radioCustom1" type="radio" value="option1" name="a" class="form-control-custom radio-custom">
            <label for="radioCustom1">Hiển thị section</label> &nbsp;
            <input id="radioCustom2" type="radio" checked="" value="option2" name="a" class="form-control-custom radio-custom"/>
            <label for="radioCustom2">Không hiển thị section</label>
        </div> <br />
        <button class="btn btn-success" (click)="onSave()">Lưu lại</button>
    </div>
</div>