.box-hotline{
    width: 250px;
    .phone {
        font-size: 16px;
        font-weight: bold;
        background: gold;
        color: white;
        padding: 1px 20px 1px 60px;
        border-radius: 39px;
        position: relative;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
        p {
            margin: 0;
            color: white;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        }
    }
}
.circle-hotline {
    height: 60px;
    width: 60px;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    background-color: #5BB006;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    .icon {
        font-size: 30px;
        margin: 8px 0px 8px 16px;
        display: inline-block;
        color: white;
    }
}