<section>
	<div class="row">
		<div class="col-md-3">
			<div class="total subwebsite">
				<i class="fa fa-globe pull-left"></i>
				<div class="total-item">
					Tổng Website <br /> 12 
				</div> 
			</div>
		</div>
		<div class="col-md-3">
			<div class="total order">
				<i class="fa fa-shopping-cart pull-left"></i>
				<div class="total-item">
					Tổng Order <br /> 12 
				</div> 
			</div>
		</div>
		<div class="col-md-3">
			<div class="total sold">
				<i class="fa fa-product-hunt pull-left"></i>
				<div class="total-item">
					Đã bán <br /> 12 
				</div> 
			</div>
		</div>
		<div class="col-md-3">
			<div class="total sales">
				<i class="fa fa-money pull-left"></i>
				<div class="total-item">
					Doanh thu <br /> 12 
				</div> 
			</div>
		</div>
	</div>
</section>
