.total {
	color: #fff;
	padding: 20px 10px;
	border-radius: 10px;
	i {
		font-size: 4em
	}
	.total-item {
		font-size: 1.3em;
		padding-left: 20px;
	}
}
.subwebsite {
	background: #00919E
}
.order {
	background: #FF3D3D
}
.sold {
	background: #00C674
}
.sales {
	background: #0D00B7
}